@import "~normalize.css";

$highlight: #32c094;
$grey: #e1e4ea;

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ddd;
  }

  *::-webkit-scrollbar-thumb {
    background: #aaa;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 15px;
  line-height: 1.2em;

  h1 {
    font-size: 2em;
  } /* displayed at 24px */
  h2 {
    font-size: 1.5em;
  } /* displayed at 18px */
  h3 {
    font-size: 1.25em;
  } /* displayed at 15px */
  h4 {
    font-size: 1em;
  } /* displayed at 12px */
}

.root {
  height: 100%;
}

.intro {
  display: flex;
  align-items: center;
  // padding: 0 10px;
  background: $highlight;
  color: white;
  padding: 0 10px;

  &Content {
    flex: 1;

    font-weight: 500;
    line-height: 1.4em;

    &Wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      display: flex;

      .hi {
        display: block;
        animation-name: buzz;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        margin-right: 5px;
      }
    }

    a {
      color: white;
      // border-bottom: 2px solid $grey;
    }
  }

  &Close {
    cursor: pointer;
    padding: 10px;
  }

  @media (max-width: 500px) {
    &Close {
      position: absolute;
      top: 0;
      right: 0;
      // padding: 10;
    }
  }
}

.open {
  font-weight: 600;
  line-height: 1.4em;
  cursor: pointer;
  padding: 10px;
  background: $highlight;
  color: white;
  text-align: center;
}

.help {
  position: fixed;
  right: 0;
  bottom: 0;
  font-weight: 600;
  line-height: 1.4em;
  cursor: pointer;

  background: $grey;
  color: white;

  &Open {
    padding: 10px;
    background: $grey;
    color: black;
  }

  &Content {
    width: 300px;
    &Wrapper {
      background: black;
      // padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 10px;

      h2 {
        margin: 5px 0;
      }
    }

    p {
      color: black;
      padding: 10px;
      margin: 5px 0;
      // padding: 10px;
    }
  }

  &Close {
    // padding: 0 10px;
  }
}

.video {
  padding: 0 10px 10px 10px;
  object-fit: cover;
  display: flex;
  justify-content: center;

  video {
    width: 100%;
  }
}

.closeHelp {
}

@media (min-width: 500px) {
  .open {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 500px) {
  .main,
  .sidebar {
    height: 100%;

    overflow-y: auto;
  }
}

.main {
  &Wrapper {
    padding: 15px 10px;
  }
}

.snakes {
  padding-top: 2px;
  padding-left: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  // position: relative;

  .content {
    height: 100%;
    display: flex;
    // flex-direction: row;
  }

  @media (max-width: 500px) {
    .content {
      flex-direction: column;
    }
  }
}

.sidebar {
  background: $grey;
  min-width: 300px;

  &Header {
    padding: 0 10px;
  }

  .statistics {
    padding: 0 10px;

    h2 {
      margin: 5px 0;
    }

    &Header {
      display: flex;
      justify-content: space-between;
    }

    &List {
      display: flex;
      flex-direction: column;
    }

    .statistic {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
    }
  }
}

.form {
  padding: 0 10px 10px 10px;
  &Group {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    // color: red;

    label {
      margin: 5px 0;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    button {
      font-weight: 600;
      outline: 0;
      border: none;
      text-align: center;
      padding: 10px;
      background: #141b1f;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .success {
      background: $highlight;
      color: #fff;
    }

    input {
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 8px;
      font-size: 16px;
      height: auto;
      border-radius: 3px;
      border: 2px solid #929baa;
      overflow: hidden;

      &:focus {
        outline: none;
        border-color: #3aa3e3;
      }
    }

    span {
      color: red;
      // margin: 5px 0;
    }
  }
}

canvas {
  border: 2px solid $grey;
  margin-top: -2px;
  margin-left: -2px;
  &:focus {
    outline: none;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
}

@keyframes buzz {
  0%,
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
