@import "~normalize.css";

.snakes {
  margin-top: 8px;
  margin-left: 4px;
}

canvas {
  border: 4px solid grey;
  margin-top: -8px;
  margin-left: -4px;
  &:focus {
    outline: none;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
}
